<div class="gitdemo-signup-container">
  <div class="gitdemo-welcome-title">
    <h1>
      Welcome to GitDemo Project!
    </h1>
  </div>
  <div class="gitdemo-signup-form-container">
    <div class="gitdemo-signup-form-box">
      <h2 class="gitdemo-signup-text">
        <u>Sign Up Form</u>
      </h2>
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="label-input-container">
          <label>Name:</label>
          <input formControlName="name" type="text" placeholder="Please enter your name" class="width80"
            [ngClass]="{'error-red-border': signupForm.get('name')?.errors && (signupForm.get('name')?.touched || submittedInvalidForm)}">
          <p *ngIf="signupForm.get('name')?.errors && (signupForm.get('name')?.touched || submittedInvalidForm)">*Mininum length should be 2</p>
        </div>

        <div class="label-input-container">
          <label>Email:</label>
          <input formControlName="email" type="email" placeholder="Please enter your email" class="width80"
            [ngClass]="{'error-red-border': signupForm.get('email')?.errors && (signupForm.get('email')?.touched || submittedInvalidForm)}">
          <p *ngIf="(signupForm.get('email')?.errors && signupForm.get('email')?.errors.required) && (signupForm.get('email')?.touched || submittedInvalidForm)">*Email required</p>
          <p *ngIf="(signupForm.get('email')?.errors && signupForm.get('email')?.errors.pattern) && (signupForm.get('email')?.touched || submittedInvalidForm)">*Valid email required</p>
        </div>
          
        <div class="label-input-container">
          <label>Password:</label>
          <input formControlName="password" type="password" placeholder="Please enter your password" class="width80"
            [ngClass]="{'error-red-border': signupForm.get('password')?.errors && (signupForm.get('password')?.touched || submittedInvalidForm)}">
          <p *ngIf="(signupForm.get('password')?.errors && signupForm.get('password')?.errors.required) && (signupForm.get('password')?.touched || submittedInvalidForm)">*Password required</p>
          <p *ngIf="(signupForm.get('password')?.errors && signupForm.get('password')?.errors.minLength) && (signupForm.get('password')?.touched || submittedInvalidForm)">*Password should have minimum 6 characters</p>
          <p *ngIf="(signupForm.get('password')?.errors && signupForm.get('password')?.errors.pattern) && (signupForm.get('password')?.touched || submittedInvalidForm)">*Valid password required(minimum one number and one character required)</p>
        </div>
        <button class="gitdemo-button" type="submit">Sing Up</button>
      </form>
    </div>
    <div class="gitdemo-login-link">
      Already have an account?
      <a [routerLink]="['/login']">Login</a>
    </div>
  </div>
</div>