/* You can add global styles to this file, and also import other style files */
* {
    font-family: arial, sans-serif;
}
*:focus {
    outline: none;
}

.error-red-border {
    border: 1px solid red !important;
}

.width100 {
    width: 100%;
}